bokeh==3.3.4
cli-helpers==2.3.0
click==8.1.7
cloudpickle==3.0.0
configobj==5.0.8
contourpy==1.2.0
dask==2024.1.0
distributed==2024.1.0
fsspec==2023.12.2
greenlet==3.0.3
importlib-metadata==7.0.1
Jinja2==3.1.3
locket==1.0.0
lz4==4.3.3
MarkupSafe==2.1.4
msgpack==1.0.7
numpy==1.26.3
packaging==23.2
pandas==2.2.0
partd==1.4.1
pendulum==3.0.0
pgcli==4.0.1
pgspecial==2.1.1
pillow==10.2.0
prompt-toolkit==3.0.43
psutil==5.9.8
psycopg==3.1.17
psycopg-binary==3.1.17
psycopg2-binary==2.9.9
pyarrow==15.0.0
pyarrow-hotfix==0.6
Pygments==2.17.2
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
setproctitle==1.3.3
six==1.16.0
sortedcontainers==2.4.0
SQLAlchemy==2.0.25
sqlparse==0.4.4
tabulate==0.9.0
tblib==3.0.0
time-machine==2.13.0
toolz==0.12.1
tornado==6.4
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
wcwidth==0.2.13
xyzservices==2023.10.1
zict==3.0.0
zipp==3.17.0